---
const { title } = Astro.props;
---

<button class="button">
    {title}
</button>

<style>
.button{
    padding: .8rem 2rem;
    background-color: transparent;
    outline: none;
    color: #212121;
    border-radius: 64px;
    font-size: 1rem;
    background-color: #dadada;
}
</style>

