---
import Button from "./Button.astro";
---

<div class="header-container">
    <div class="header-left">
        <div class="header-brand">
            <h3 class="header-brand-title">VOLT</h3>
        </div>

        <div class="header-nav">
            <a class="header-nav-item">Open Source</a>
            <a class="header-nav-item">Download</a>
            <a class="header-nav-item">Docs</a>
        </div>
    </div>

    <div class="header-right">
        <Button title="Sign In" />
    </div>
</div>

<style>
    .header-container{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
    }

    .header-left{
        display: flex;
        gap: 2rem;
        align-items: center;
    }

    .header-nav{
        display: flex;
        gap: 1rem;
    }
</style>